{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },

    "rules": {
        "no-mixed-requires": [0, false],
        "strict": [1, "never"],
        "semi": [2, "always"],
        "curly": 1,
        "no-bitwise": 1,
        "max-len": [1, 1110, 4],
        "vars-on-top": 0,
        "guard-for-in": 1,
        "ideal/vars-with-default": 0,
        "ideal/vars-on-newline": 0
    },
    "ecmaFeatures": {
        "jsx": true
    },

    "plugins": [ "ideal" ],

    "globals": {
        "require": "true",
        "module": "true"
    }
}
