<html>
<head>
	<script type="text/javascript">
		function createImage() {
			var canvas = document.getElementById('twitterPost');
			if (canvas.getContext) {
				var ctx = canvas.getContext('2d');
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				ctx.font = "18px Arial";
				ctx.fillText(document.getElementById('comment').value, 10, 30);
			}
		}
	</script>
	<style type="text/css">
		canvas {
			border: 1px solid black;
			display: none;
		}
	</style>
</head>
<body>
<form method='POST' action="/sendComment">
	<textarea name="comment" id="comment" onkeyup="createImage();"></textarea>
	<!--
	<button type="button" onclick="createImage();">Send</button>
	-->
	<button type="submit">Send</button>

	<canvas id="twitterPost" width="150" height="150"></canvas>
</form>
</boyd>
</html>
