<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://default.wrioos.com/css/webrunes.css" rel="stylesheet">
    <style>
        body {
            height: auto !important;
        }
    </style>
    <script type="text/javascript">

        var files = [];
        var posturl = '<%= host %>';
        var filename = posturl.substring(posturl.lastIndexOf('/')+1);
        if (filename == "") {
            posturl = posturl + "index.html";
        }

        <% if (user) { %>
        var loggedUserID = '<%= user.wrioID %>';
        <% } else { %>
        var loggedUserID = null;
        <% } %>
        var recipientWrioID = '<%= userID %>';


        // Return cookie as "name". "undefined" is a default name
        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function getLoginUrl() {

            var host = window.location.host;
            host = host.replace('titter.', 'login.');
            return "//" + host;

        }

        function getWebgoldUrl() {

            var host = window.location.host;
            host = host.replace('titter.', 'webgold.');
            return "//" + host;

        }

        function openAuthPopup() {
            var loginUrl = getLoginUrl();
            var callbackurl = "//" + window.location.host + '/callback'
            var newWin = window.open(loginUrl + '/authapi?callback=' + encodeURIComponent(callbackurl), "Login", "height=500,width=700");
        }

        function logoff() {
            $.ajax('/logoff').success(function (res) {
                location.reload();
            });
        }

        function checkLoggedIn() {
            console.log(document.cookie);
            if (!getCookie('sid')) {
                openAuthPopup();
            } else {
                console.log("Cookie exists, aborting");
            }

        }

        function setWRIOAuthData() {
            location.reload();
        }

        function loadDraft() {
            if (window.localStorage['draft']) {
                document.getElementById('IDtweet_title').value = window.localStorage['draft_title'];
                document.getElementById('comment').value = window.localStorage['draft'];
                window.localStorage.removeItem('draft_title');
                window.localStorage.removeItem('draft');
            }


        }

        function saveDraft() {
            var text = document.getElementById('comment').value;
            var title = document.getElementById('IDtweet_title').value;
            console.log(title);
            window.localStorage['draft'] = text;
            window.localStorage['draft_title'] = title;
        }

        function keyPress() {
            var comment = document.getElementById('comment').value;
            var title = document.getElementById('IDtweet_title').value;
            var wrg = parseInt(document.getElementById('inputAmount').value);
            var t_limit = $('#IDtweet_title').attr('maxlength');
            var t_delta = t_limit - title.length;
            $('span.twitter-limit').html(t_delta);
            var limit = $('#comment').attr('maxlength');
            var delta = limit - comment.length;
            $('label.comment-limit').html(delta);
            var b_limit = parseInt($('#wrgBalance').html());
            if (b_limit < wrg) {
                $('.donation-form').addClass('has-error');
                $('.help-block').show();
            } else {
                if ($('.donation-form').hasClass('has-error')) {
                    $('.donation-form').removeClass('has-error');
                    $('.help-block').hide();
                }
            }
            frameReady();
        }


        function sendComment() {

            var amount = document.getElementById('inputAmount').value;
            if (amount < 0) {
                alert("Wrong donate value");
                return;
            }

            sendTitterComment(amount);

        }

        function deactivateButton() {
            $('#sendButton').addClass("disabled");
            var buttonText = $('#sendButton').html();
            buttonText = buttonText.replace("Submit", "Sending...");
            $('#sendButton').html(buttonText);
            $('#sendButton img').show();
            $('#sendButton span').hide();
        }

        function activteButton() {
            $('#sendButton').removeClass("disabled");
            var buttonText = $('#sendButton').html();
            buttonText = buttonText.replace("Sending...", "Submit");
            $('#sendButton').html(buttonText);
            $('#sendButton img').hide();
            $('#sendButton span').show();
        }

        function sendTitterComment(amountdonated) {
            var comment = document.getElementById('comment').value;
            var title = document.getElementById('IDtweet_title').value;
            var data = new FormData();
            var _data = {
                text: comment,
                title: title,
                comment: posturl,
            };

            var len = files.length;
            if (len > 3) len = 3

            for (var i = 0; i < len; i++) {
                data.append('images[]', files[i]);
            }

            $.each(_data, function (key, value) {
                data.append(key, value);
            });

            $('.comment-limit').html("Loading");

            var params = '';
            if (amountdonated > 0 && recipientWrioID) {
                params = 'to=' + recipientWrioID + '&amount=' + amountdonated;
            }
            deactivateButton();
            //dataType: 'json', removed because of ajax error
            $.ajax({
                url: '/sendComment?' + params,
                type: 'post',
                processData: false, // Не обрабатываем файлы (Don't process the files)
                contentType: false,
                dataType: 'json',
                data: data
            }).done(function (data) {
                console.log(data);
                if (data.callback) {
                    window.location.href = data.callback; // TODO: make popup instead
                    return;
                }

                activteButton();
                document.getElementById('comment').value = '';
                document.getElementById('IDtweet_title').value = '';
                console.log("successfully sent");
                $('#result').html("Successfully sent!").removeClass("redError");
                $('.comment-limit').html("Ok");

                //prev: "You've donated " + data.donated + " WRG. The author received "+ data.feePercent + " %, which amounts to a " + data.amountUser + "WRG or 0.19 USD. Thank you!"
                if (data.status == "Done") {
                    if (data.donated > 0) {
                        var $donatedStats = $('#donatedStats');
                        $donatedStats.show();
                        $donatedStats.attr('class','alert alert-success');
                        $('#donatedAmount').html("You've donated " + data.donated + " THX. Thank you!")

                    }
                }
                frameReady();
            }).fail(function (request) {
                activteButton();
                $('.comment-limit').html("Fail");
                console.log("Request: " + JSON.stringify(request));

                var errCode = "Unknown";
                if (request.responseJSON) {
                    if (request.responseJSON.error) {
                        errCode = request.responseJSON.error;
                    }
                }

                var $donatedStats = $('#donatedStats');
                $donatedStats.show();
                $donatedStats.attr('class','alert alert-danger');
                $('#donatedAmount').html("There was error during donation: \""+errCode+"\"");
                frameReady();

            });

        }
       function InitTitter() {
            loadDraft();

            function hideInput() {
                $("#inputAmount").prop('disabled', true);
              //  $("#IDtweet_title").prop('disabled', true);
            }

           if (!recipientWrioID || recipientWrioID === "undefined") {
               console.log("Donation recipient not specified, hiding donate form, use get parameter &id=xxxxxxxxxx");
               hideInput();
               $('#noAuthor').show();
           }

            if (!loggedUserID) {
                hideInput();
            }


            if (recipientWrioID === loggedUserID) {
                console.log("Cannot donate to yourself");
                hideInput();
            }

            if (posturl === "undefined") {
                hideInput();
                throw new Error("Origin paramater not specified, use &origin=urlencode(hostname)");
            }

            var exchangeRate;

            function updateBalance(balance,rtx) {
                $('#balancestuff').show();
                if (balance) {
                    $('#wrgBalance').html('&nbsp'+balance);
                }
                $('#rtx').html('&nbsp'+rtx);
                if (exchangeRate && balance) {
                    var usdBalance = exchangeRate*balance/(10000);
                    $('#usdBalance').html('&nbsp'+usdBalance.toFixed(2));
                }
                frameReady();

            }

            $.ajax({
                url: getWebgoldUrl() + '/api/webgold/get_balance',
                type: "GET",
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    'X-Requested-With':"XMLHttpRequest"
                }
            }).done(function (data) {
                console.log(data);
                updateBalance(data.balance,data.rtx);
                if (!noAccount) $('#balancePane').show();
                frameReady();

            }).fail(function(err) {
                $('#wrgBalance').html('&nbsp'+0);
                if (!noAccount) $('#balancePane').show();
                frameReady();
            });

            $.ajax({
                url: getWebgoldUrl() + '/add_funds_data',
                type: "GET",
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    'X-Requested-With':"XMLHttpRequest"
                }
            }).done(function (data) {
                console.log(data);
                exchangeRate = data.exchangeRate;
                updateBalance();


            }).fail(function(err) {
                $('#balancestuff').hide();
                throw new Error("Cannot get exchange rates!!!!");
                if (!noAccount) $('#balancePane').show();
                frameReady();
            });
        }


        function onTimelineLoad() {
            $('#twitter-widget-0').contents().find('style').html($('#twitter-widget-0').contents().find('style').html() + "img.autosized-media {width:auto;height:auto;}");
        };


        var noAccount = false;

        function getEthereumId() {
            $.ajax({
                url: getWebgoldUrl() + '/api/webgold/get_wallet',
                type: "GET",
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    'X-Requested-With':"XMLHttpRequest"
                }
            }).done(function (data) {
                frameReady();
            }).fail(function(err) {
                $('#createwallet').show();
                noAccount = true;
                frameReady();
            });

        }
        getEthereumId();

        function createTwitterWidget() {

            var frameheight = $(window).height();
            var headerheight = $('.twitter').outerHeight();

            var twheight = frameheight - headerheight - 45;

            var twitter_template = '<a class="twitter-timeline" href="https://twitter.com/search?q=' + posturl + '" data-widget-id="' + commentId + '" width="' + $(window).width() + '" height="' + twheight + '" chrome="noscrollbar nofooter">Tweets about ' + posturl + '</a>'
            $('#frame_container').append(twitter_template);

            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {onTimelineLoad()});");
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");


        }

        function frameReady() {
            var ht = $("body").outerHeight(true);
            console.log(ht);
            parent.postMessage(JSON.stringify({"titterHeight":ht}), "*"); // signal that iframe is renered and ready to go, so we can calculate it's actual height now
            return true;
        }

        $(document).ready(function () {
            console.log("Iframe loaded");
            InitTitter();
            $("#fileInput").change(function () {
                $.each(this.files, function (key, value) {
                    files.push(value);
                });

            });
            frameReady();

        });

        function chooseFile() {
            $("#fileInput").click();
        }

        (function() {
            var throttle = function(type, name, obj) {
                obj = obj || window;
                var running = false;
                var func = function() {
                    if (running) { return; }
                    running = true;
                    requestAnimationFrame(function() {
                        // For IE compatibility
                        var evt = document.createEvent("CustomEvent");
                        evt.initCustomEvent(name, false, false, {
                            'cmd': "resize"
                        });
                        obj.dispatchEvent(evt);
                        // obj.dispatchEvent(new CustomEvent(name));
                        running = false;
                    });
                };
                obj.addEventListener(type, func);
            };

            /* init - you can init any event */
            throttle("resize", "optimizedResize");
        })();

        // handle event
        window.addEventListener("optimizedResize", function() {
           frameReady();
        });

        function goAddFunds() {
            parent.postMessage(JSON.stringify({"goAddFunds":true}), "*");
        }


    </script>
</head>
<body>
<div id="frame_container">
    <div id="titter-id">
        <form enctype="multipart/form-data" method='POST' action="/sendComment" class="margin-bottom form-send-comment"
              role="form">

            <form class="margin-bottom" role="form" >
                <div class="well" style="display: none;" id="balancePane">
                    <h4 id="balancestuff">Current balance
                        <span id="wrgBalance">0</span><small class="currency">THX</small>
                        <sup class="currency" style="display:none;"><span id="usdBalance" style="display: none;"></span><span>·</span><span class="currency">USD</span>
                    </sup></h4>
                    <p>You can receive 10 THX every hour free of charge</p>
                    <p>Rating <span id="rtx">0</span> RTX</p>
                    <br />
                    <a class="btn btn-sm btn-success" href="javascript:goAddFunds();"><span
                        class="glyphicon glyphicon-thumbs-up"></span>Get free Thanks coins</a>
                    <a class="btn btn-link" href="https://wrioos.com/#Thanks_coins" target="_parent"><span
                        class="glyphicon"></span>What are Thanks coins?</a>
                </div>
                <div id="createwallet" style="display:none" class="well">
                    <h4> You don't have a wallet yet.
                    <a href="javascript:;" target="popup" class="btn btn-sm btn-success" onclick="window.open(getWebgoldUrl()+'/create_wallet','name','width=800,height=500')">Create</a>
                    </h4>
                </div>
                <div class="callout warning col-xs-12" style="display:none" id="noAuthor">
                    <h5>Author unknown</h5>
                    <p>You can comment, but donations disabled</p>
                </div>
                <!--<div class="callout" style="display:none">
                    <h5>No funds</h5>
                    You're still able to make promised donations up to 500 WRG.
                    <span><a href="javascript:goAddFunds();">Add funds</a></span>
                </div>-->
                <div class="alert alert-success" style="display:none;" id="donatedStats">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <span id="donatedAmount"></span>
                </div>
            </form>

            <div id="donationStuff">
                <div class="form-group send-comment-form-donation donation-form col-xs-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm tooltip-demo">
                        <span class="input-group-addon">Donation</span>
                        <input type="number" class="form-control" id="inputAmount" value="0" min="0" onchange="keyPress();" onkeyup="keyPress();"><span class="input-group-addon">THX</span>
                    </div>
                    <div class="help-block" style="display: none">
                        <span>Insufficient funds</span>
                    </div>
                </div>
                <div class="form-group send-comment-form-donation col-xs-12 col-md-4 col-lg-7">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon twitter-limit">72</span>
                        <input id="IDtweet_title" name="tweet_title" class="form-control" maxlength="72"
                               placeholder="Title, hashtags or mentions. Max 72 characters" type="text" onkeyup="keyPress();">
                    </div>
                </div>
            </div>
            <div class="form-group send-comment-form col-xs-12">
                <textarea maxlength="1024" rows="3" class="form-control"
                          placeholder="Let us know your thoughts! Max 1024 characters" name="comment" id="comment"
                          onkeyup="keyPress();"></textarea>

            </div>
            <div class="form-group send-comment-form col-xs-12">
                <div style="height:0px;overflow:hidden">
                    <input type="file" accept="image/*" multiple id="fileInput" name="fileInput"/>
                </div>
                <div class="pull-left">
                    <button type="button" class="btn btn-default" onclick="chooseFile();">
                        <span class="glyphicon glyphicon-camera"></span>
                        Photo
                    </button>
                </div>
                <div class="pull-right">
                    <label class="comment-limit">1024</label>
                    <% if (user) { %>
                    <button type="button" id="sendButton" class="btn btn-primary" onclick="sendComment();">
                        <span class="glyphicon glyphicon-ok"></span>
                        <img src="https://wrioos.com/Default-WRIO-Theme/img/loading.gif" style="display:none;">
                        Send
                    </button>
                    <% } else { %>
                    <button type="button" onclick="saveDraft();openAuthPopup();" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        Login and submit
                    </button>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
    <div style="display:none">
        <h3 id="result" class="centertext"></h3>
    </div>

</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
